# Dependências (nunca envie para o GitHub, são muito pesadas)
node_modules/

# Produção / Build
build/
dist/

# Arquivos de variáveis de ambiente (segurança)
.env
.env.local

# Arquivos do sistema operacional e logs
.DS_Store
Thumbs.db
*.log